<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/9b14dcfed3.js" crossorigin="anonymous"></script>
  <title>Products</title>
  <style>
    .card-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 5%;
    }

    .card {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      margin: 10px;
      max-width: 700px;
      display: inline-block;
      width: 100%;
    }

    .card img {
      max-width: 100%;
      height: auto;
      max-height: 100px;
      object-fit: cover;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    span {
      padding: 100px;
    }

    .button-container {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
    }

    .card-buttons {
      margin: 0 8px;
    }

    .text-justify {
      text-align: justify;
      text-justify: inter-word;
    }

    .btn-secondary {
      position: absolute;
      margin-top: 2%;
      margin-left: 7%;
    }

    .btn-success {
      position: absolute;
      margin-top: 2%;
      margin-left: 14%;
    }

    .btn-danger {
      margin-left: 5%;
    }

    .quantity-decrement{
      position: absolute;
      margin-left: 7%;
      border-radius: 50%;
      padding: 1px 9px;
    }

    .quantity-label {
      position: absolute;
      margin-left: 60%;
      font-size: large;
    }
    .quantity-increment{
      position: absolute;
      margin-left: 17%;
      border-radius: 50%;
      padding: 1px 7px;
    }

    .empty-cart {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .total-amount {
      position: absolute;
      margin-top: 2%;
      margin-left: 45%;
      font-size: larger;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/products"><i class="fa-solid fa-cart-shopping"
          style="color: #ffffff; margin: 0 10px;"></i>Bonstay Cart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/products">Home</a>
          </li>
        </ul>
        <% if(isUserLoggedIn) { %>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="margin-right: 1%;">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-user" style="color: #c3c6d1;"></i>
                <%= loggedInUser %>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">My Orders</a></li>
                <li><a class="dropdown-item" href="/logout">Log out</a></li>
              </ul>
            </li>
          </ul>
          <% } else { %>
            <form action="/login" method="get" style="margin-right: 1%;">
              <button class="btn btn-sm btn-success" type="submit">Login</button>
            </form>
            <% } %>
              <form class="d-flex" role="search" action="/products/search" method="get">
                <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
              </form>
      </div>
    </div>
  </nav>

  <% if(isEmpty) { %>
    <div class="empty-cart">
      <p style="font-size: 35px; margin-top: 5%;">Your cart is empty </p>
    </div>
    <div class="empty-cart">
      <a type="button" class="btn btn-primary" href="/products">Continue Shopping</a>
    </div>

    <% } else { %>
      <div>
        <a type="button" class="btn btn-secondary" href="/products">Go Back</a>
        <a type="button" class="btn btn-success" href="#">Place Order</a>
        <p class="total-amount">Total Amount: ₹<%= totalAmount.toLocaleString('en-IN') %>
        </p>
      </div>
      <% } %>

        <div class="card-container">
          <% products.forEach(function(product) { %>
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="<%= product.productId.imageURL %>" class="img-fluid rounded-start"
                    style="max-height: 300px;" alt="<%= product.name %>">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= product.productId.name %>
                    </h5>
                    <p class="card-text">
                      <%= product.productId.description %>
                    </p>
                    <p class="card-text text-body-secondary text-justify">
                      <%= product.productId.specifications %>
                    </p>
                    <p class="card-text"><strong>Price: ₹<%= product.productId.price.toLocaleString('en-IN') %>
                      </strong></p>
                    <span></span><span></span>
                    <div class="button-container">
                      <form action="/cart/delete" method="post" class="card-buttons">
                        <input type="hidden" name="cartId" value="<%= product._id %>">
                        <button class="btn btn-danger" style="padding: 5px 80px;">Delete</button>
                      </form>

                      <form action="/cart/quantity" method="post">
                        <input type="hidden" name="decrement" value="<%= product._id %>">
                        <button class="quantity-decrement"><strong>-</strong></button>
                      </form>

                      <label id="quantity" class="quantity-label"><%= product.quantity %></label>
                      
                      <form action="/cart/quantity" method="post">
                        <input type="hidden" name="increment" value="<%= product._id %>">
                        <button class="quantity-increment" >+</button>
                      </form>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
        </div>
</body>

</html>